body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #171d29;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer {
  background-color: #171d29;
  color: white;
  /* padding: 40px 0; */
}
.footer a {
  color: #adb5bd;
  text-decoration: none;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.footer .subscribe input {
  margin-bottom: 10px;
}
.footer .subscribe button {
  background-color: #28a745;
  color: white;
  border: none;
}
.footer .social-icons a {
  font-size: 1.5rem;
  /* margin-right: 15px; */
  color: white;
}
.footer-link {
  margin-bottom: 0.6rem;
  display: block;
}

/* hero section */
.hero-section {
  color: white;
  padding: 0px;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-section h1 span {
  color: #ffc107;
}

.hero-section .btn-primary {
  background-color: #007bff;
  border: none;
}

.hero-section .btn-primary:hover {
  background-color: #0056b3;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: inset(20% 20%);
}
